{% block genre_add %}

<div align="center">
    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal_genre">Add Genre</button>
    <div id="addModal_genre" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Genre to Add</h4>
                </div>
                <div class="modal-body">

                    <label>Genre &nbsp;: </label>
                    <input type="text" value = "" id = "genre_add_name"><br><br>
                    <label>Context &nbsp;</label>
                    <input type="text" value="" id = "genre_add_context">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="genre_data">Submit Changes</button>
                </div>
            </div>
        </div>
     </div>
</div>
<!---->
<script>
    $('#genre_data').on('click', function(){
        alert('confirm');

        var jsonToSend = { 'Genre': $(this)[0].parentElement.parentElement.children[1].children[1].value,
                            'Context':$("#genre_add_context").val()
                             }

        console.log( jsonToSend );
        $.ajax({
                type: "POST",
                url: "/greedy/api/v1/Genres/add/",
                data: jsonToSend,
                datatype : "application/json",
                <!--contenttype : "application/json",-->

                success: function(data){
                    if (data.status ==200)
                    location.href="/greedy/genres/"
                    else
                    alert(data.message)
                    location.href="/greedy/genres/"
                },

                })
        console.log( jsonToSend );
    });
</script>
{% endblock %}

