<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<!-- jQuery library -->
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <script src ="{% static 'js/greedy.js' %}"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>	
    <div id="sidebar" align="center">
        <h1>PlayLists</h1>
        {% block sidebar %}
        <tr>
            <td><a href="/greedy/tracks/">Tracks</a></td></br>
            <td><a href="/greedy/genres/">Genre</a></td>
        </tr>
        {% endblock %}
    </div>
    <div>
    	{% block hello%} {% endblock %}
    </div>
    <div id="content" >
        {% block content %}{% endblock %}
    </div>
    <div align="center">
        {% block pagination %} {% endblock %}
    </div>
    <div>
        {% block track_add %} {% endblock %}
    </div>
    <div>
        {% block genre_add %} {% endblock %}
    </div>
{% block js %}{% endblock %}
</body>
</html>
